{% extends 'base.html' %}

{% block title %}All Rides{% endblock %}

{% block content %}
    <div class="container">
        
        <div class="row py-4">
            <div class="col">Station</div>
            <div class="col">Address</div>
            <div class="col">
                <form class="d-flex" action="/search" method="post">
                    <input class="form-control me-2" type="text" placeholder="Station name" aria-label="Search" id="search" name="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        
        <br>
        
        {% for station in stations.items %}
        
        <div class="row">
            <div class="col"><a href="{{ url_for('views.station', station_id=station.id) }}">{{ station.station_name_finnish }}</a></div>
            <div class="col">{{ station.address_finnish }}</div>
            <div class="col"></div>
        </div>
        
        {% endfor %} 
        
        
        {% for page in stations.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        
        {% if page %}
        <a href="{{ url_for('views.stations', page_num=page) }}">{{ page }}</a>
        {% else %}
        ...
        {% endif %}
        
        {% endfor %}
    </div>
{% endblock %}